body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  background-color: #000;
  text-align: center;
}

.btn-input {
  background-color: #6bbe92;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer; 
}
.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
  display: flex;
}
.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}
.form {
  background: #374954;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-inputs {
  margin: 0.5rem;
  width: 80%;
}
.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}
.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}